<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sovereign Login</title>
<link rel="stylesheet" type="text/css" href="templates/gray/style.css">
<link rel="stylesheet" type="text/css" href="templates/gray/mainstyle.css">
 <script language="JavaScript" type="text/javascript" src="editor/wysiwyg.js"></script> 
</head>
<body>
<div id="banner">
	<h2>Welcome to the Sovereign Login System</h2>
</div>
<div id="wrapper">
	<div id="left_col">
		<div id="left_content">
			<h3>Navigation</h3>
			<ul class="sidenav">
				<li>
					<a href="index.php">Home</a>
				</li>
				<li>
					<a href="index.php?view=console">Console</a>
				</li>
				<li>
					<a href="index.php?view=members.php">Members</a>
				</li>
				<li>
					<a href="index.php?view=rules.inc">Rules</a>
				</li>
				<li>
					<a href="index.php?view=news.php">News</a>
				</li>
				<li>
					<a href="index.php?view=join.inc">How To Join</a>
				</li>
				<li>
					<a href="index.php?view=binfo.inc">Basic Information</a>
				</li>
				<li>
					<a href="index.php?view=faq.inc">FAQ</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="right_col">
		<div id="right_content">

