/* CSS Document */

h1
	{
		padding: 0;
		margin: 7px;
	}
h2
	{
		padding: 0;
		margin: 7px;
	}
h3
	{
		padding: 0;
		margin: 7px;
	}

h3.form_header
	{
		font-size: 16px;
		text-decoration: underline;
		margin-bottom: 15px;
	}
h3.form_header:hover
	{
		text-decoration: none;
	}

h4
	{
		padding: 0;
		margin: 7px;
	}

h4.form_input_header
	{
		font-size: 12px;
	}	

h5
	{
		padding: 0;
		margin: 7px;
	}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}
body {
}
a {

}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

a.return
{
padding: 5px;
border: thin solid #000000;
}
a.return:hover
{
border: thin solid #CC3300;
}

table.form
{

}

div.event
{
font-size: 12px;
margin: 7px;
font-weight: bold;
}
